asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-allauth
django-cors-headers
django-jazzmin
djangorestframework
djangorestframework_simplejwt
idna
oauthlib
pillow
pycparser
PyJWT
python-dotenv
python3-openid
requests
sqlparse
tzdata
urllib3
